@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Divergentes";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src:
      url(./assets/fonts/divergentes/Divergentes.woff2) format("woff2"),
      url(./assets/fonts/divergentes/Divergentes.woff) format("woff"),
      url(./assets/fonts/divergentes/Divergentes.ttf) format("truetype"),
      url(./assets/fonts/divergentes/Divergentes.eot)
        format("embedded-opentype");
  }

  @font-face {
    font-family: "Cristone";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src:
      url(./assets/fonts/cristone/Cristone.woff2) format("woff2"),
      url(./assets/fonts/cristone/Cristone.woff) format("woff"),
      url(./assets/fonts/cristone/Cristone.ttf) format("truetype"),
      url(./assets/fonts/cristone/Cristone.eot) format("embedded-opentype");
  }

  ::selection {
    background-color: #ea580c;
  }
}

@layer utilities {
  .optimize-text-rendering {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .transition-slide {
    transition-property: transform, opacity;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
  }

  .translate-z-front {
    transform: perspective(1000px) translateZ(200px);
  }

  .translate-z-idle {
    transform: perspective(1000px) translateZ(0);
  }

  .translate-z-back {
    transform: perspective(1000px) translateZ(-200px);
  }

  .translate-card-front {
    transform: perspective(1000px) translateZ(500px);
  }

  @keyframes return-frontface-card {
    0% {
      transform: none;
      opacity: 1;
    }
    50% {
      transform: perspective(1000px) rotateY(180deg);
      opacity: 1;
    }
    100% {
      transform: perspective(1000px) rotateY(180deg);
      opacity: 1;
    }
  }

  @keyframes return-backface-card {
    0% {
      transform: perspective(1000px) rotateY(180deg);
      opacity: 1;
    }
    50% {
      transform: perspective(1000px);
      opacity: 1;
    }
    60% {
      transform: perspective(1000px) rotate(2deg);
      opacity: 1;
    }
    73.3% {
      transform: perspective(1000px) rotate(-2deg);
      opacity: 1;
    }
    86.6% {
      transform: perspective(1000px) rotate(2deg);
      opacity: 1;
    }
    100% {
      transform: perspective(1000px) rotate(-2deg);
      opacity: 1;
    }
  }

  .rotate-y-full {
    transform: perspective(1000px) rotateY(180deg);
  }

  .return-frontface-card {
    animation: return-frontface-card 800ms cubic-bezier(0.4, 0, 0.2, 1) 2
      alternate;
  }

  .return-backface-card {
    animation: return-backface-card 800ms cubic-bezier(0.4, 0, 0.2, 1) 2
      alternate;
  }

  .preserve-3d {
    transform-style: preserve-3d;
  }

  .hide-backface {
    backface-visibility: hidden;
  }
}
