@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Divergentes';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(./assets/fonts/Divergentes.ttf) format('ttf');
  }
}

@layer utilities {
  .optimize-text-rendering {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .transition-slide {
    transition-property: transform, opacity;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
  }

  .translate-z-front {
    transform: perspective(1000px) translateZ(200px);
  }

  .translate-z-idle {
    transform: perspective(1000px) translateZ(0);
  }

  .translate-z-back {
    transform: perspective(1000px) translateZ(-200px);
  }

  .return-down {
    transform: perspective(1000px) rotateY(180deg);
  }

  .return-up {
    transform: perspective(1000px) rotateY(-180deg);
  }

  .transition-transform-slowly {
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 500ms;
  }

  .preserve-3d {
    transform-style: preserve-3d;
  }

  .hide-backface {
    backface-visibility: hidden;
  }
}
